WebServiceTC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TransportCompanyCommunication" targetNamespace="http://www.transportcompany.com/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:tns="http://www.transportcompany.com/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.transportcompany.com/">
      <xsd:element name="RequestQuotation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="latitude" type="xsd:decimal" />
            <xsd:element name="longitude" type="xsd:decimal" />
            <xsd:element name="size" type="xsd:long" />
            <xsd:element name="arrival" type="xsd:dateTime" />
            <xsd:element name="orderAwarded" type="xsd:dateTime" />
            <xsd:element name="dcid" type="xsd:string" />
            <xsd:element name="id" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RequestQuotationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AwardOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:string" />
            <xsd:element name="isAwarded" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AwardOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RequestQuotationRequest">
    <wsdl:part name="parameters" element="tns:RequestQuotation" />
  </wsdl:message>
  <wsdl:message name="RequestQuotationResponse">
    <wsdl:part name="result" element="tns:RequestQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="AwardOrderRequest">
    <wsdl:part name="parameters" element="tns:AwardOrder" />
  </wsdl:message>
  <wsdl:message name="AwardOrderResponse">
    <wsdl:part name="result" element="tns:AwardOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="TransportCompanyCommunicationPortType">
    <wsdl:operation name="RequestQuotation">
      <wsdl:documentation></wsdl:documentation>
      <wsdl:input message="tns:RequestQuotationRequest" />
      <wsdl:output message="tns:RequestQuotationResponse" />
    </wsdl:operation>
    <wsdl:operation name="AwardOrder">
      <wsdl:documentation></wsdl:documentation>
      <wsdl:input message="tns:AwardOrderRequest" />
      <wsdl:output message="tns:AwardOrderResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransportCompanyCommunicationSoap" type="tns:TransportCompanyCommunicationPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestQuotation">
      <soap:operation soapAction="http://www.transportcompany.com/RequestQuotation" />
      <wsdl:input>
        <soap:body parts="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AwardOrder">
      <soap:operation soapAction="http://www.transportcompany.com/AwardOrder" />
      <wsdl:input>
        <soap:body parts="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransportCompanyCommunication">
    <wsdl:port name="TransportCompanyCommunicationPort" binding="tns:TransportCompanyCommunicationSoap">
      <soap:address location="http://localhost:8060/ws/TransportCompanyCommunication" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>